[defaults]

# The default inventory file to use
inventory = ./inventory/inventory.yaml
# The location of the roles directory
roles_path = ./roles

# The default remote user to use for ssh connections
remote_user = ansible
# The default private key file to use for ssh connections
private_key_file = ./ssh/ansible
# The default timeout for SSH connections
timeout = 3
# Whether or not to use color output
color = True

# # The location of the callback plugins
# callback_plugins = /path/to/callback/plugins
# # The location of the inventory plugins
# inventory_plugins = /path/to/inventory/plugins
# # The location of the library modules
# library = /path/to/library/modules
# # The location of the module_utils modules
# module_utils = /path/to/module/utils

[privilege_escalation]
# scale privileges
become = True
become_method = sudo
become_ask_pass=False
become_user=root